body {
  background-color: blue;
}
h2 {
  font-family: "Urbanist", sans-serif;
}
.presiden h2 {
  margin: 0;
}
.namaPresiden {
  display: grid;
  grid-template-areas: "soekarno text-1";
  grid-template-columns: 2fr 3fr;
  place-items: center;
}
img {
  width: 50%;
}
.presidenButton {
  font-family: "Libre Baskerville", serif;
}
.imgPresiden {
  grid-area: soekarno;
}
.textPresiden {
  font-family: "Ysabeau Infant", sans-serif;
  grid-area: text-1;
}

/* pahlawan */
.pahlawan {
  background-color: #ececec;
}
.pahlawan h2 {
  margin-bottom: 0;
}
/* responsive breakpoint */
@media (max-width: 768px) {
  .namaPresiden {
    display: grid;
    grid-template-areas: "soekarno" "text-1";
    grid-template-columns: 1fr;
    gap: 20px;
    place-items: center;
    text-align: center;
  }
  .presidenButton {
    line-height: 25px;
  }
}
