body {
  background-color: blue;
}
.namaPresiden {
  display: grid;
  grid-template-areas: "soekarno text-1";
  grid-template-columns: 2fr 3fr;
  place-items: center;
}
img {
  width: 50%;
}
.soekarnoButton {
  font-family: "Libre Baskerville", serif;
}
.imgPresiden {
  grid-area: soekarno;
}
.textPresiden {
  font-family: "Ysabeau Infant", sans-serif;
  grid-area: text-1;
}
